<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="securisamarum.muque">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CriarPlanoActivity"
            android:label="@string/title_activity_criar_plano"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GerenciarPlanoActivity"
            android:label="@string/title_activity_gerenciar_plano"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AlterarPlanoActivity"
            android:label="@string/title_activity_alterar_plano"
            android:parentActivityName=".GerenciarPlanoActivity" />
        <activity
            android:name=".DiaActivity"
            android:label="@string/title_activity_dia"
            android:launchMode="singleTop"
            android:parentActivityName=".GerenciarPlanoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CriarExercicioActivity"
            android:label="@string/title_activity_criar_exercicio"
            android:parentActivityName=".DiaActivity"></activity>
    </application>

</manifest>